<%= form_for :article, url: articles_path do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %>
    <%= f.text_field :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<section>
  <%= link_to 'Back', articles_path %>
</section>
